
.todo-table{
    margin:20px 0 10px 0;  
  }
  .todo-table table{
    border: 1px solid #0089b3;
    margin-bottom: 10px;
  }
  .todo-table>table>tbody>tr>td{
    border-top: 1px solid #0089b3;
    text-align: center
  }
  .todo-table>table>tbody>tr>th {  
    background-color: #0089b3;
    color: #fff;  
    text-align: center
  }
  .search-todo{
    width:300px;
    float:left;
  }
  input::-webkit-input-placeholder {
    font-size: 14px; 
  }
  .table-striped>tbody>tr:nth-of-type(odd){
    background: #fff;
  }
  .table-striped>tbody>tr:nth-of-type(even){
    background: #e6f9ff;
  }    

  .logout {
    float: right;
    margin-right: 9px;
    margin-top: -48px;
    color: #fff;
  }
  .fa-power-off {
    font-size: 30px;
  }
  .search-text {
    float: left;
    padding:10px 10px 20px 0;
    font-weight: bold
  }
  .search-container {
      float:right;
  }
  /******* Pagination *******/
  .paginationLimit select{
    width: auto;
    display: inline-block;
  }
  pagination-controls{
    text-align: right;
  }
  .ngx-pagination .current{
    background: #0089b3 !important;
  }
  .pagination-previous, .pagination-next, .ngx-pagination .current{
    background: #0089b3 !important;
    color:#fff !important;
    border-radius:3px !important;
    
  }
  .pagination-previous a, .pagination-next a, .ngx-pagination a .current a{
    color:#fff !important;
  }
  .ngx-pagination a:hover, .ngx-pagination button:hover{
    background: #0089b3 !important;
    color:#fff !important;
  }

.create-todo {
    font-weight: bold;
    padding:10px 0 0 0
}
 
  
